---

- name: Copy ssh login banner.
  ansible.builtin.copy:
    src: ./files/warning
    dest: /etc/
    owner: root
    group: root
    mode: '0644'

- name: Replace in sshd config file.
  lineinfile:
    dest: /etc/ssh/sshd_config
    insertafter: '^#Banner'
    line: Banner /etc/warning
  notify:
    - RestartSSH

  handlers:
    - name: RestartSSH
      service: sshd
      state: restarted
