- name: Set DNS nameservers.
  lineinfile:
    path: /etc/resolv.conf
    line: |
      nameserver 1.1.1.1
      nameserver 8.8.8.8
      nameserver 8.8.4.4
    owner: root
    group: root
    mode: '0644'
