---

- name: Tune kernel and copy config file.
  copy:
    src: ./files/sysctl.conf
    dest: /etc/sysctl.conf
  become: yes

- name: Set sudo log file.
  lineinfile:
    path: /etc/sudoers
    insertafter: '^Defaults\s.*$'
    line: Defaults  logfile="/var/log/sudo.log"
  become: yes

- name: Initialize AIDE.
  shell: /usr/bin/aideinit
  register: aideinit

  debug:
    msg: " Aide init {aideinit.stdout_lines}"
